#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
[Bb]in/
[Oo]bj/
_ReSharper*/
[Tt]est[Rr]esults/
Refactoring/packages/
Server/packages/EntityFramework.6.1.3/content/App.config.transform
Server/packages/EntityFramework.6.1.3/content/Web.config.transform
Server/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
Server/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nuspec
Server/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
Server/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
Server/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
Server/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
Server/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
Server/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
Server/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
Server/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
Server/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
Server/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
Server/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
Server/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
Server/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
Server/packages/EntityFramework.6.1.3/tools/init.ps1
Server/packages/EntityFramework.6.1.3/tools/install.ps1
